@use "css-template/import" as template;
@use "colors" as colors;

@include template.init($custom-colors: colors.$custom-colors);

@font-face {
  font-family: "Mona Sans";
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-display: swap;
  src: url(/mona-sans.woff2) format("woff2");
}

:root {
  font-family: "Mona Sans", sans-serif;
  --font-size-default: 0.9rem;
}

.link {
  @include template.link;
}

code {
  background-color: var(--color-soft);
  border-radius: 0.25rem;
  font-family: "Fira Code", monospace;
  padding: 0 0.25rem;
}

html,
body,
#app {
  min-height: 100vh;
  min-height: 100svh;
}

:root.light {
  @include template.theme-light;
}
:root.dark {
  @include template.theme-dark;
}

// When using element IDs and urls with # to jump around the page, this rule
// ensures the navbar's height of 3rem is taken into account when scrolling.
:target {
  scroll-margin-top: 3rem;
}
